{{#each skills as |skill|}}
  <section data-id="{{skill.id}}">
    <h6>Skill:</h6>
    <h3>
      {{skill.name}}
    </h3>
    <h6>Current Progress:</h6>
    <p>
      {{skill.currentUnit}} out of {{skill.maxUnit}} {{skill.units}}
    </p>
    <form class="not_real_form"></form>

    <form class="updateSkill" data-id="{{skill.id}}">
    <!-- <input name="skill[id]" type="text" placeholder="ID"> -->
    <input name="skill[name]" class="inputs" type="text" placeholder="Skill Name" required>
    <input name="skill[units]" class="inputs" type="text" placeholder="Unit of Accomplishment (Hours, Sessions, etc.)" required>
    <input name="skill[currentUnit]" class="inputs" type="number" placeholder="Iterations Already Complete" required>
    <input name="skill[maxUnit]" class="inputs" type="number" placeholder="Maximum Iterations (Success Metric!)" required>
    <button type="submit" class="btn btn-warning upd-button">Update Skill</button>
    </form>

    <form class="deleteSkill" data-id="{{skill.id}}">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>

    <!-- {{> partial}} -->
  </section>

{{/each}}
